In [81]:
import numpy as np
import pandas as pd

In [84]:
#Addition of rows
df1=pd.DataFrame([[2,3],[4,5]],columns=['a','b'])

df2=pd.DataFrame([[4,5],[6,7]],columns=['a','b'])

In [87]:
df=df1.append(df2)
df

   a  b
0  2  3
1  4  5
0  4  5
1  6  7

In [88]:
#Deletion of rows
df=df.drop(0)
df

   a  b
1  4  5
1  6  7

# Pandas Dataset

In [89]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0 -0.096256 -0.111914  1.119840
1 -1.093940  0.775854 -0.857803
2 -0.218908 -0.752446  0.259537
3 -0.275083  0.949400  0.206639
4  2.783946  1.656665  0.008440

# Pandas-Descriptive Statistics

In [90]:
#Count
df.sum(0)

col1    1.099759
col2    2.517559
col3    0.736653
dtype: float64

In [25]:
#Count
df.sum(1)

0    1.096161
1   -1.914736
2    3.074245
3    1.833692
4   -0.465217
dtype: float64

In [26]:
#Average 
df.mean()

col1    0.248860
col2   -0.404139
col3    0.880108
dtype: float64

In [27]:
#Standard deviation
df.std()

col1    0.781983
col2    0.622220
col3    1.648225
dtype: float64

In [28]:
#number of observations
df.count()

col1    5
col2    5
col3    5
dtype: int64

In [91]:
#Summarizing data
df.describe()

           col1      col2      col3
count  5.000000  5.000000  5.000000
mean   0.219952  0.503512  0.147331
std    1.486441  0.943256  0.705597
min   -1.093940 -0.752446 -0.857803
25%   -0.275083 -0.111914  0.008440
50%   -0.218908  0.775854  0.206639
75%   -0.096256  0.949400  0.259537
max    2.783946  1.656665  1.119840

#### Row or Column Wise Function Application

In [19]:
#Columnwise operation
df.apply(np.mean, axis=0)

col1   -0.181613
col2    0.065528
col3    0.061066
dtype: float64

In [20]:
# Rowwise operation
df.apply(np.mean, axis=1)

0   -0.182341
1    0.666203
2    0.252884
3    0.342511
4   -1.170956
dtype: float64

#### Element wise function application

In [92]:
#Particular element operation
df['col1'].map(lambda x:x*100)

0     -9.625610
1   -109.394043
2    -21.890759
3    -27.508328
4    278.394594
Name: col1, dtype: float64

In [100]:
#Group operation
df.applymap(lambda x:x*100)

        col1       col2        col3
0 -84.114048  -8.607772   -0.029425
1  14.977520  56.870018  118.784100
2  69.276339  66.613164   28.630629
3  66.474186  40.634035   94.866065
4  64.637178  46.299029  -21.358302

#### Renaming

The rename() method allows you to relabel an axis based on some mapping (a dict or Series) or an arbitrary function.

In [93]:
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df1

       col1      col2      col3
0 -0.375173  0.753893 -0.173676
1 -1.619651 -1.245392  1.775555
2  2.023578  0.314755  0.177018
3 -0.343537 -0.323189 -0.134364
4  0.511309  0.199103 -1.664978
5 -0.545790  0.691158 -1.145319

In [95]:
print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'}))

# data_frame_name.re tab

After renaming the rows and columns:
         c1        c2      col3
0 -0.375173  0.753893 -0.173676
1 -1.619651 -1.245392  1.775555
2  2.023578  0.314755  0.177018
3 -0.343537 -0.323189 -0.134364
4  0.511309  0.199103 -1.664978
5 -0.545790  0.691158 -1.145319

#### Iterating a dataframe

In [98]:
np.random.choice(['Low','Medium','High'],5).tolist()

['Medium', 'Low', 'Medium', 'High', 'Low']

In [99]:
N=10

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    })
df

           A    x         y       C           D
0 2016-01-01  0.0  0.103147     Low  117.813048
1 2016-01-02  1.0  0.720784  Medium   97.745416
2 2016-01-03  2.0  0.332840    High   92.651852
3 2016-01-04  3.0  0.176065     Low   87.468930
4 2016-01-05  4.0  0.331266     Low   95.976831
5 2016-01-06  5.0  0.252296    High  103.164663
6 2016-01-07  6.0  0.193781  Medium   96.265211
7 2016-01-08  7.0  0.781142  Medium   90.053695
8 2016-01-09  8.0  0.921803  Medium   82.893975
9 2016-01-10  9.0  0.209122     Low   90.782548

# Sorting

In [100]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),columns=['col2','col1'])
print(unsorted_df)

       col2      col1
0  1.111395  0.863368
1  0.575558 -0.795732
2 -0.167778  1.470666
3 -1.883537  0.578472
4  0.376373 -1.469134
5 -0.653191  0.587531
6 -0.110745 -0.243499
7 -1.581437  0.782970
8 -0.162680  0.252679
9  0.939634 -0.207805

In [101]:
#Sort the columns
sorted_df=unsorted_df.sort_index(axis=1)
print (sorted_df)

       col1      col2
0  0.863368  1.111395
1 -0.795732  0.575558
2  1.470666 -0.167778
3  0.578472 -1.883537
4 -1.469134  0.376373
5  0.587531 -0.653191
6 -0.243499 -0.110745
7  0.782970 -1.581437
8  0.252679 -0.162680
9 -0.207805  0.939634

In [102]:
#By values
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
unsorted_df

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4

In [103]:
sorted_df = unsorted_df.sort_values(by='col1')
print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

# Indexing and Selecting Data

.loc()---Label based

.iloc--integer based

.ix() -	Both Label and Integer based

### .loc()

In [105]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
a -0.116517  0.138585  0.392036  0.343557
b -0.133126  0.497111 -0.857716 -0.663094
c  1.296035 -1.292303  1.441378  0.165439
d -1.043970 -0.368558 -0.377721 -0.188170
e  0.795451 -0.177938 -0.175088  0.555738
f  0.503280 -1.142144 -0.336022  1.191648
g  0.523207  1.616216 -0.347525 -2.297608
h -1.080482 -0.839086 -2.304489 -0.451477

In [107]:
#select all rows for a specific column
print (df.loc[: , 'B'])            #df[,3]     df.loc[rows  , columns]

a    0.138585
b    0.497111
c   -1.292303
d   -0.368558
e   -0.177938
f   -1.142144
g    1.616216
h   -0.839086
Name: B, dtype: float64

In [109]:
# Select all rows for multiple columns, say list[]

print (df.loc[: , ['A','D']])

          A         D
a -0.116517  0.343557
b -0.133126 -0.663094
c  1.296035  0.165439
d -1.043970 -0.188170
e  0.795451  0.555738
f  0.503280  1.191648
g  0.523207 -2.297608
h -1.080482 -0.451477

In [112]:
# Select few rows for multiple columns, say list[]

print (df.loc[['a','b','f','h'] , ['A','C']])

          A         C
a -0.116517  0.392036
b -0.133126 -0.857716
f  0.503280 -0.336022
h -1.080482 -2.304489

In [70]:
# Select range of rows for all columns
print (df.loc['a':'f'])

          A         B         C         D
a -1.225195  0.438690  1.560153  0.526607
b  0.634479  0.009808  0.713857 -0.372245
c -0.069471  1.793396 -2.242903  1.661642
d -0.503377 -2.233413  0.400963  0.587865
e  1.481076  1.506656 -0.700548 -2.500530
f  0.493950  0.458303 -2.294748  0.178606

In [71]:
print (df.loc[:'e',])

          A         B         C         D
a -1.225195  0.438690  1.560153  0.526607
b  0.634479  0.009808  0.713857 -0.372245
c -0.069471  1.793396 -2.242903  1.661642
d -0.503377 -2.233413  0.400963  0.587865
e  1.481076  1.506656 -0.700548 -2.500530

In [72]:
# for getting values with a boolean array
print (df.loc['a']>0)

A    False
B     True
C     True
D     True
Name: a, dtype: bool

### .iloc()

In [113]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.320493  2.112254  0.126303  1.383168
1  1.706478  0.349102 -1.886608  0.384762
2  0.048694  1.188671 -0.671841 -0.260454
3  0.753235  0.194359 -0.209099  1.075862
4  1.620447  1.514801 -0.290005 -0.368558
5 -2.361026  0.046267 -1.900090 -0.521258
6  1.655073 -0.267248 -0.915795  2.111188
7  0.738020 -0.112310 -1.995409  0.432872

In [115]:
# select specific range of rows
df.iloc[:3]

          A         B         C         D
0  0.320493  2.112254  0.126303  1.383168
1  1.706478  0.349102 -1.886608  0.384762
2  0.048694  1.188671 -0.671841 -0.260454

In [118]:
# Integer slicing
print (df.iloc[1:5, 2:4])

          C         D
1 -1.886608  0.384762
2 -0.671841 -0.260454
3 -0.209099  1.075862
4 -0.290005 -0.368558

In [119]:
# Slicing through list of values
print (df.iloc[[1, 3, 5], [1, 3]])

          B         D
1  0.349102  0.384762
3  0.194359  1.075862
5  0.046267 -0.521258

In [121]:
#first three rows with all columns
print (df.iloc[1:3 , :])

          A         B         C         D
1  1.706478  0.349102 -1.886608  0.384762
2  0.048694  1.188671 -0.671841 -0.260454

In [122]:
# all rows with first three columns
print (df.iloc[: ,1:3])

# A = 0 ,  B = 1 ,  C = 2 , D =3

          B         C
0  2.112254  0.126303
1  0.349102 -1.886608
2  1.188671 -0.671841
3  0.194359 -0.209099
4  1.514801 -0.290005
5  0.046267 -1.900090
6 -0.267248 -0.915795
7 -0.112310 -1.995409