In [ ]:
!pip install pandas

In [2]:
import numpy as np
import pandas as pd

# 1. Series

###### Default Series
pandas.Series( data, index, dtype, copy)

In [3]:
#Create an empty Series
s=pd.Series(4, index=['rank1'])
s

rank1    4
dtype: int64

In [4]:
#Create a series from ndarray

data=np.array(['a','b','c','d','e'])

s=pd.Series(data)
s

0    a
1    b
2    c
3    d
4    e
dtype: object

In [5]:
#Adding index manually

s=pd.Series(data, index=[100,101,102,104,105])
s

100    a
101    b
102    c
104    d
105    e
dtype: object

In [6]:
#Create a series from dictionary

data={'a':0,'b':1,'c':2}

pd.Series(data,dtype=int)

a    0
b    1
c    2
dtype: int64

In [7]:
#Create a series from Scalar
pd.Series(4, index=[0,1,2,3,4])

0    4
1    4
2    4
3    4
4    4
dtype: int64

In [8]:
s=pd.Series([0,1,2,3,4], index=['a','b','c','d','e'])
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [9]:
s['a']

0

In [10]:
#retrieve the first element
s[1]

1

In [11]:
#retrieve the first three element
s[:3]

a    0
b    1
c    2
dtype: int64

In [12]:
#retrieve the last three element
s[-3:]

c    2
d    3
e    4
dtype: int64

# 2. Data Frame

###### Standard Format of Pandas data frame
pandas.DataFrame( data, index, columns, dtype, copy)

In [13]:
#import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
#Create dataframe from list

data= [1,2,3,4,5,6,7]

df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [15]:
data=[['ajith',10],['luke',20],['bright',30]]
data

[['ajith', 10], ['luke', 20], ['bright', 30]]

In [16]:
df=pd.DataFrame(data, columns=['Name','Age'])
df

     Name  Age
0   ajith   10
1    luke   20
2  bright   30

In [17]:
df.dtypes

Name    object
Age      int64
dtype: object

In [18]:
df=pd.DataFrame(data, columns=['Name','Age'], dtype=float)
df

     Name   Age
0   ajith  10.0
1    luke  20.0
2  bright  30.0

In [19]:
df.dtypes

Name     object
Age     float64
dtype: object

In [20]:
#Create a DataFrame from Dict of ndarrays / Lists

data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}

df = pd.DataFrame(data)
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [21]:
#Adding rows name
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
df

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [22]:
#Create a DataFrame from List of Dictionaries

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [25]:
#Create a DataFrame from Dict of Series

data={'one':pd.Series([1,2,3,5],index=['a','b','c','e']),
      'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}

In [29]:
df=pd.DataFrame(data, dtype=float)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
e  5.0  NaN

In [38]:
#Column selection
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
e    5.0
Name: one, dtype: float64