# python

# Basic Coding of Python for Beginners

# Addition

In [31]:
10+5

15

In [93]:
34+45

79

# Subtraction

In [32]:
12-34

-22

In [33]:
34-23

11

# Multiplication

In [96]:
10*2

20

In [ ]:
23*23

# Division

In [97]:
12/4

3.0

In [98]:
 round(12/4)

3

# Lets  write some code

In [34]:
x=10
y=4
z=x+y
print(z)

14

In [35]:
x

10

In [36]:
print("hello")

hello

In [37]:
print("10 plus 4 is",x)

10 plus 4 is 10

In [102]:
a=36
b=12
print("36 divided by 12 is ", round(a/b))

36 divided by 12 is  3

In [103]:
print("remainder after 10 divided by 4 is", x%y)

remainder after 10 divided by 4 is 2

# Assignment Operators

In [104]:
x=10
y=20
x=x+y #first way
x

30

In [38]:
x=10
y=20
x+=y  #second way
print(x)

30

In [39]:
x

30

In [20]:
y

20

In [106]:
x-=y
print(x)

10

In [ ]:
x*=y
print(x)

In [107]:
x/=y
print(x)

0.5

# Logical Operators

In [40]:
x=20
x>30 and x<20

False

In [41]:
x>30 or x<=20

True

In [42]:
x=20
y=10
print(x==y)

False

In [43]:
x!=y

True

In [44]:
x>y

True

In [45]:
x<y

False

In [46]:
x>=y

True

# Data structures

# 1.Lists

In [47]:
x=[1, 2, 3, 4, 5, 6]
x

[1, 2, 3, 4, 5, 6]

Indivisual elements of a list can be accessed by writing the index number in square bracket

In [49]:
#Indexing returns the item
x[0]

1

In [117]:
x[4]

5

In [50]:
#it should return the first last element in the list
x[-1]

6

In [51]:
x[-2]

5

In [120]:
#Slicing returns a new list
x[2:4]

[3, 4]

In [52]:
x[:3]

[1, 2, 3]

In [53]:
y=[3,6,8,9,0,7,4]
print(y)

[3, 6, 8, 9, 0, 7, 4]

In [54]:
y[:3]

[3, 6, 8]

In [55]:
y[3:]

[9, 0, 7, 4]

In [66]:
#adding new value into list
y[2]=56
y

[3, 6, 56, 9, 0, 'red', 4]

In [57]:
y[5]='red'
y

[3, 6, 56, 9, 0, 'red', 4]

In [6]:
y+[4,5]

[3, 6, 56, 9, 0, 'red', 4, 4, 5]

# 2.Strings

a string can be simply defined by single(') double(") and triple('")

In [58]:
python= 'Hello' # "hi"  or """hi"""
python

'Hello'

In [59]:
#To check first letter in the word
python[1]

'e'

In [60]:
#Length of the string
len(python)

5

In [62]:
py1 =',World'
py1

',World'

In [65]:
#String concatenation
python + py1 + " hi"

'Hello,World hi'

In [67]:
#trying to add new letter into string
python[1:]='i'

TypeError: 'str' object does not support item assignment

# 3.Tuples

In [68]:
#Number of values separated by commas 
mytuple=0, 1, 2, 3, 4, 5

In [69]:
mytuple

(0, 1, 2, 3, 4, 5)

In [70]:
# Second letter in the string
mytuple[2]

2

In [72]:
#Adding new number into tuple
mytuple[2]=45

TypeError: 'tuple' object does not support item assignment

In [73]:
mytuple+[0,2,3]

TypeError: can only concatenate tuple (not "list") to tuple

# 4. Dictionary

In [74]:
dict={'red':2356, 'blue':4568, 'green':8645, 'hero':8467}
dict

{'red': 2356, 'blue': 4568, 'green': 8645, 'hero': 8467}

In [75]:
dict['red']= 6739

In [76]:
dict

{'red': 6739, 'blue': 4568, 'green': 8645, 'hero': 8467}

In [77]:
dict.keys()

dict_keys(['red', 'blue', 'green', 'hero'])

In [26]:
print(dict.keys())

dict_keys(['red', 'blue', 'green', 'hero'])

In [78]:
dict['6739']= 'yellow'

In [79]:
dict

{'red': 6739, 'blue': 4568, 'green': 8645, 'hero': 8467, '6739': 'yellow'}

In [80]:
dict['6739']='black'
dict

{'red': 6739, 'blue': 4568, 'green': 8645, 'hero': 8467, '6739': 'black'}

# if and else-if

if condition:           
   Statements to execute if
   condition is true

In [164]:
a = 5
if (a > 3): 
   print ("5 is less than 15")

5 is less than 15

In [159]:
a = 5
if (a > 15): 
   print ("10 is less than 15") 

print ("I am Not in if") 
print("hello")

I am Not in if
hello

if (condition):
    # Executes this block if
    # condition is true
else:
    # Executes this block if
    # condition is false

In [160]:
a = 20; 
if (a < 15): 
    print ("a is smaller than 15") 
else: 
    print ("a is greater than 15")

a is greater than 15

if (condition1):
   # Executes when condition1 is true
   if (condition2): 
      # Executes when condition2 is true
   # if Block is end here
# if Block is end here

In [167]:
a = 20
if (a == 10): 
    #  First if statement 
    if (a < 15): 
        print ("a is smaller than 15") 
    # Nested - if statement 
    # Will only be executed if statement above 
    # it is true 

if (a < 12):
    print ("a is smaller than 12 too") 
else:
    print ("a is greater than 15")

a is greater than 15

# Looping

In [168]:
state=('karnataka','delhi','tamilnadu','telangana')
state

('karnataka', 'delhi', 'tamilnadu', 'telangana')

In [169]:
print(state[0])

karnataka

In [171]:
for i in state:
    print(i)

karnataka
delhi
tamilnadu
telangana

In [173]:
print(range(5))

range(0, 5)

In [175]:
for i in range(5):
    print(i)

0
1
2
3
4

In [176]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

# List compresions

In [177]:
new_list = [i for i in range(15)]
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [115]:
#another way
add_list = [i+i for i in new_list]
add_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [178]:
for i in new_list:
    print(i+i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [179]:
marks = [35, 20, 30, 90, 80, 56, 47, 82]

In [180]:
new_marks = []
for i in marks:
    new_marks.append(i+10)

new_marks

[45, 30, 40, 100, 90, 66, 57, 92]

In [130]:
#another way
new_marks=[i+10 for i in marks]
new_marks

[45, 30, 40, 100, 90, 66, 57, 92]

In [181]:
pass1 = [i for i in marks if i > 35]
pass1

[90, 80, 56, 47, 82]

In [182]:
for i in marks:
    if i > 35:
        print(i)

90
80
56
47
82

In [184]:
pass1 = [i for i in marks if i > 35 or i > 50]
pass1

[90, 80, 56, 47, 82]

In [185]:
marks

[35, 20, 30, 90, 80, 56, 47, 82]

In [186]:
for i in marks:
    if i <= 50:
        print(("student is not good"))
    else:
        print(("student is good"))

student is not good
student is not good
student is not good
student is good
student is good
student is good
student is not good
student is good

In [187]:
result = []
for i in marks:
    if i <= 50:
        result.append(("fail"))
    else:
        result.append(("pass"))
result

['fail', 'fail', 'fail', 'pass', 'pass', 'pass', 'fail', 'pass']

In [134]:
for i in range(10):
    if i <= 4:
        print("i is less than 4")
    else:
        print("i is greater than 4")

i is less than 4
i is less than 4
i is less than 4
i is less than 4
i is less than 4
i is greater than 4
i is greater than 4
i is greater than 4
i is greater than 4
i is greater than 4

# Dictionary compresions

In [188]:
d = {'physics': 52, 'maths': 84, 'stats': 78}
for sub in d:
    marks = d[sub]
    print('A %s has %d marks' % (sub, marks))

A physics has 52 marks
A maths has 84 marks
A stats has 78 marks

In [189]:
d = {'physics': 52, 'maths': 84, 'stats': 78}
for sub, marks in d.items():
    print('A %s has %d marks' % (sub, marks))

A physics has 52 marks
A maths has 84 marks
A stats has 78 marks

# While loop

In [191]:
i = 1
while i < 6:
  print(i)
  i += 1 # i = 2 , i =3

1
2
3
4
5

In [192]:
# Exit the loop when i is 3: 
i = 1
while i < 6:
  print(i) 
  #if i == 3:
   # break
  i += 1 # i = 2 , i =3

1
2
3
4
5

In [146]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# Function

In [200]:
def sum_fun(a, b):
    #result = a+b
    return a+b

In [201]:
sum_fun(1,2)

3

In [206]:
# 0 as default value
def sum_fun(a, b=0):
    result=a+b
    return result

In [205]:
sum_fun(2)

2

In [207]:
def mean_fun(a,b,c,d):
    result=(a+b+c+d)/4
    return result

In [210]:
round(mean_fun(12,13,24,26))

19

In [211]:
food = ["apple", "banana", "cherry"]
for x in food:
    print(x)

apple
banana
cherry

In [212]:
def my_function(food):  # argunent = list
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [213]:
def sign(x): # argument x , which is number
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [216]:
sign(0)

'zero'

In [218]:
list1 = [-1, 0, 1]
for x in list1:
    print(sign(x))

negative
zero
positive